<div>
    <form action="/api/products" method="post">
        <div>
            <label>Titulo del producto</label>
            <input name="title" id="title">
        </div>
         <div>
            <label>Descripcion  del producto</label>
            <input name="description" id="description">
        </div>
         <div>
            <label>Codigo del producto</label>
            <input name="code" id="code">
        </div>
         <div>
            <label>Precio</label>
            <input name="price" id="price">
        </div>
         <div>
            <label>Stock</label>
            <input name="stock" id="stock">
        </div>
         <div>
            <label>Categoria</label>
            <input name="category" id="category">
        </div>
        <input type="submit" value="Submit">
    
    </form>
</div>